doctype
html(lang='en')
   head
      meta(charset='utf-8')
      title Sample FAAC story
      link(rel="stylesheet", href="../styles/faac.style.css", type='text/css')
   body
      //- State Stpry section 
      .container 
         h1.section__heading What #{data.state} got in total
         p.content 
            | According to FAAC data, from the total amount received by #{data.state} was ₦#{data.state_total}bn.
            | While the state got ₦#{data.state_value}bn, the #{data.no_of_lgc} LGCs got in total,
            | ₦#{data.state_total}bn.
         
         p.content 
            | The total for the state and it's LGCs is ₦#{data.difference} billion/million 
            if data.difference > 0
               | more 
            else
               | lesser 
            | than the #{data.prev_state_total}
            | shared in the month of #{data.prev_month}

         p.content 
            | Considering the total amount shared among states, 
            | #{data.state} got the #{data.rank}th position among the 36.
            | One key factor aside from population for this position is the 
            | 13 percent statutory derivation that some states recieve even though 
            | they may have more or less population.

      //- LGC story section
      .container 
         h1.section__heading What #LGC NAME# got in total
         p.content 
            | The #LGC NAME# in the #Month Yeat# received #LGC Value#mn
            | The amount for the #LGC Name# is #Current Month - Previous Month#
            | From the federation account revenue disbursment.

         p.content 
            | With an estimated population of #Source from NBS#, 
            | The FAAC per capita for the LGC is #FAAC Month Value / LGC population#.
            | Based on the per capita , the LGC is on the #rank#th position among the 774.

         p.content 
            | Aside from the population which is the major determinant of the FAAC amount, #AMOUNT#
            | contribute to the position of the LGC and the state shares in the FAAC allocation.