doctype
html(lang='en')
   head
      meta(charset='utf-8')
      title Sample FAAC story
      link(rel="stylesheet", href="../styles/faac.style.css", type='text/css')
   body
      //- State Stpry section 
      .container__story
         h1.section__heading What #{stateData.state} got in total
         p.content 
            | According to FAAC data, from the total amount received by #{stateData.state} was ₦#{stateData.state_total}bn.
            | While the state got #[+value(`₦${stateData.state_value}`)]bn, the ₦#{stateData.no_of_lgc} LGCs got in total,
            | ₦#{stateData.state_total}bn.
         
         p.content 
            | The total for the state and it's LGCs is ₦#{stateData.difference.toLocaleString()}
            if stateData.difference > 999999999
               | billion 
            else if stateData.difference < 1000000000 && stateData.difference > 999999
               | million 

            if stateData.difference > 0
               | more 
            else
               | lesser 
            | than the #{stateData.prev_state_total}
            | shared in the month of #{stateData.prev_month}

         p.content 
            | Considering the total amount shared among states, 
            | #{stateData.state} got the #[+value(Number(stateData.rank), {'ORDINAL_NUMBER': true})] position among the 36.
            | One key factor aside from population for this position is the 
            | 13 percent statutory derivation that some states recieve even though 
            | they may have more or less population.


         h2.section__sub-heading What about #[+value(`${stateData.state}'s`)] LGCs?

         //- LGC story section
         ul.container__lgc
            each lgcData in stateData.lgc_data
               li.item__lgc 
                  h3.list__heading What #{lgcData.lgc} got in total

                  p.content
                     | The #{lgcData.lgc} in the March, 2022 received #[+value(`₦${lgcData.lgc_value.toLocaleString()}`)]mn.
                     | The amount for #{lgcData.lgc} is #[+value(`₦${Number(lgcData.difference.toLocaleString())}`)]
                     if lgcData.difference > 999999999
                        | billion 
                     else if lgcData.difference < 1000000000 && stateData.difference > 999999
                        | million
                     
                     if lgcData > 0
                        | more 
                     else 
                        | lesser 
                     | than the #[+value(`₦${lgcData.prev_month_lgc.toLocaleString()}`)] from the federation account revenue disbursment.

                  p.content 
                     | With an estimated population of #[+value(Number(lgcData.population), {'TEXTUAL': true})],
                     | the FAAC per capita for the lgc is #[+value(`₦${Number(lgcData.lgc_faac_per_capita).toLocaleString()}`)].
                     | Based on the per capita, #{lgcData.lgc} is in the rank
                     | #[+value(Number(lgcData.lgc_rank), {'ORDINAL_NUMBER': true})] position among the 774.

                  p.content 
                     | Aside from the population which is the major determinant of the FAAC amount, ...,
                     | ecological needs, amount of rainfall and ... contribute to the positionof the LGC 
                     | and the state shares in the FAAC.