doctype
html(lang='en')
   head
      meta(charset='utf-8')
      title Sample FAAC story
      link(rel="stylesheet", href="../styles/faac.style.css", type='text/css')
   body
      //- State Stpry section 
      .container 
         h1.section__heading What #{stateData.state} got in total
         p.content 
            | According to FAAC data, from the total amount received by #{stateData.state} was ₦#{stateData.state_total}bn.
            | While the state got #[+value(`₦${stateData.state_value}`)]bn, the ₦#{stateData.no_of_lgc} LGCs got in total,
            | ₦#{stateData.state_total}bn.
         
         p.content 
            | The total for the state and it's LGCs is ₦#{stateData.difference.toLocaleString()}
            if stateData.difference > 999999999
               | billion 
            else if stateData.difference < 1000000000 && stateData.difference > 999999
               | million 

            if stateData.difference > 0
               | more 
            else
               | lesser 
            | than the #{stateData.prev_state_total}
            | shared in the month of #{stateData.prev_month}

         p.content 
            | Considering the total amount shared among states, 
            | #{stateData.state} got the #[+value(Number(stateData.rank), {'ORDINAL_NUMBER': true})] position among the 36.
            | One key factor aside from population for this position is the 
            | 13 percent statutory derivation that some states recieve even though 
            | they may have more or less population.


         h2.section__heading LGC data

         //- LGC story section
         ul.lgc__container
            each lgcData in stateData.lgc_data
               li.lgc__item 
                  h3.section__heading What #{lgcData.lgc} got in total

                  p.content
                     | The #{lgcData.lgc} in the March, 2022 received {lgcData.lgc_value}mn.
                     | The amount for #{lgcData.lgc} is [+value(`₦${lgcData.difference}`)]
                     if lgcData.difference > 999999999
                        | billion 
                     else if lgcData.difference < 1000000000 && stateData.difference > 999999
                        | million